@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
max-width: 100%;
width: 100%;
vertical-align: middle;
}
ul{
    padding: 0;
}
li{
    list-style-type: none;
}
/* CARDS SECTION BEGINS */
.card-box{ 
    padding: 20px;
    position: relative;
}
.container{
    width: 1170px;
    max-width: 1170px;
    vertical-align: middle;
    margin: auto;
}
.card-box .container{
    text-align: center;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  width:33%;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin: 20px 10px; 
}
.overlay{
    position: absolute;
    width: 30%;
    height: 95%;
    border-radius: 20px;
    background: #000000e0;
    z-index: 999;
    top: 25px;
    right: 35%;
    display: grid;
    place-content: center;
}
.overlay svg{
    color: #fff;
    font-size: 150px;
    animation:loader 0.9s  infinite alternate-reverse;
}
@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.card img{
    height: 300px;
    object-fit: cover;
    width: 100%; 
    object-position:center;
    border-radius: 10px;
    
}
.theme-btn-save{
    background: #00c887;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration:none;
    display: inline-block;
    margin: 40px auto;
    text-align: center;
}
.card .card-info{
    padding: 20px;
    color: #000;
} 
.card ul li a,
.card ul li{
    text-decoration: none; 
    color: #000;
    font-weight: 600;
} 
.card ul li{
    border-top: 1px solid #000;
    padding: 15px 0;
}
.card ul li svg{
    font-size: 20px;
    margin:  0 10px 0 0 ;
    color: #00c887;
}

.card .card-info h2{
    padding: 15px 0;
    font-size: 30px;
    font-weight: bold;
    color: #00c887; 
    position: relative;
}
.card .card-info h2::before{
    display: inline-block;
    content: ''; 
    width: 10%;
    background: #000;
    height: 5px; 
    vertical-align: middle;
    border-radius: 50px;
    margin: 0 10px;
} 
/* CARDS SECTION END */
/* PAGINATION BEGINS  */  
.pagination{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}
.pagination li{
    display: inline-block;
    margin: 5px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
.pagination li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}
.pagination .previous-page, .next-page{
    background: #00c887;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
}
.pagination .current-page,.dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.current-page.active{
    background: #00c887;
}
.disable{
    background: #ccc; 
}
/* PAGINATION END  */
.searchbar-box{
    text-align: center;
    padding: 15px 0;
}
.searchbar-box h1{
    margin-bottom: 20px;
    color: #000;
    font-size: 48px;
}
.searchbar-box input{
    width: 50%;
    padding: 10px 30px;
    border-radius: 50px 0 0 50px;
    border: 2px solid #00c887;
    border-right: 0;
    outline: 0;
}
.searchbar-box button,
.searchbar-box input{
    height: 50px;
    display: inline-block;
    font-size: 20px;
}
.searchbar-box input::placeholder{
    font-size: 15px;
}
.searchbar-box button{
    width: 80px;
    padding:0 10px; 
    margin-left: -10px;
    border-radius:0 50px 50px 0;
    cursor: pointer;
    background: #00c887;
    color: #fff;
    border:2px solid #00c887;
} 

@media screen and (max-width:1024px) { 
    .container{
        width: 100%;
        max-width: 100%;
    }
 .overlay{
    width: 40%;
    right: 30%;
 }
}
@media screen and (max-width:990px) {
    .overlay{
        width: 100%;
        right: 0;
    }
    .overlay svg{
        font-size: 80px;
    }
    .card{
        display: block;
        width: 100%;
        margin: 20px 0;
    }
}
@media screen and (max-width:767px) {
    .searchbar-box h1{
        font-size: 25px;
        margin: 30px 10px;
    }
.searchbar-box input{
    width: 70%;
}
}